h1 {
    font-size: 40px;
    
    justify-self: center;
}

nav {
    border: black 1px solid;
    margin-right: 10%;
    margin-left: -20px;
    align-content: center;
    background-color: goldenrod;
}
nav ul {

        list-style-type: none;
        float: right;
}
    li {
        padding-right: 3em;
        padding-top: .5em;
        padding-bottom: .5em;
        float: right;
}