@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

header{
    background-color: purple;
    text-align: center;
    max-width: 100%;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    color: white;
    
}

button {
    background-color: purple;
    padding: 0;
    border: none;
    color: white;
}
button :hover {
    color: black;
}

.hide {
    display: none;
}

main, footer {
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 1rem;
    grid-template-columns: 1fr;
    display: grid;
}

main img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    box-shadow: 5px 5px 15px black;
}

.viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid; /* Use grid layout */
    grid-template-rows: auto 1fr; /* Two rows: auto for the button, and 1fr for the image */
    justify-items: center;
    align-items: center;
    background-color: rgba(41, 41, 41, 0.75);
    z-index: 100;
}
.viewer img {
    grid-row: 2; /* Place the image in the second row */
    max-width: 90%;
    max-height: 90%;
}

.close-viewer {
    grid-row: 1; /* Place the button in the first row */
    justify-self: end;
    margin: 10px;
    /* background-color: #fff; */
    border: none;
    color: white;
    font-size: 100px;
    /* cursor: pointer; */
    padding: 10px;
}




@media screen and (min-width: 700px)
{
    main {
        grid-template-columns: 1fr 1fr;
    }
    h3 {
        display: none;
    }


}
@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    button {
        display: none;
    }
    h3 {
        display: inline;
        padding-left: 7em;
    }
    

    
}